.combat {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.25rem;
	margin-top: 1rem;

	.training {
		text-transform: capitalize;
	}

	.stopTraining {
		background-color: rgb(112, 0, 0);
		color: white;
		border-radius: 0.25rem;

		&:hover {
			background-color: rgb(70, 0, 0);
		}

		&:active {
			background-color: white;
			color: rgb(112, 0, 0);
		}
	}

	button {
		width: 7.5rem;
		text-transform: capitalize;
		cursor: pointer;
	}
}
