.combat {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.25rem;
	margin-top: 1rem;

	.training {
		display: flex;
		flex-direction: row;
		gap: 0.25rem;
	}

	button,
	input[type="number"] {
		width: 7.5rem;
	}
}
