.progressBar {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
}

.background,
.foreground {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
}

.background {
	background-color: black;
}

.foreground {
	background-color: red;
}

.progress {
	color: white;
	z-index: 10;
}
